@media screen and (max-width: 1365px) {
    body {
        font-size: 35px;
    }
    .grid-list {
        grid-template-areas: "a b"
                             "c ."
                             "d e";
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 950px) {
    .grid-list {
        grid-template-areas: "a" "b" "c" "d" "e";
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 650px) {
    body {
        font-size: 29px;
    }
    h1 {
        font-size: 55px;
        letter-spacing: 0.03em;
        line-height: 1;        
    }
}
@media screen and (max-width: 500px) {
    .thumbnail {
        max-width: 257px;
        height: 192.75px;
    }
}