@media screen and (max-width: 1365px) {
    body {
        font-size: 35px;
    }
    .grid-list {
        grid-template-areas: "a b"
                             "c ."
                             "d e";
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 950px) {
    .grid-list {
        grid-template-areas: "a" "b" "c" "d" "e";
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 650px) {
    body {
        font-size: 29px;
    }
    h1 {
        font-size: 55px;
        letter-spacing: 0.03em;
        line-height: 1;        
    }
}
@media screen and (max-width: 500px) {
    .thumbnail {
        max-width: 257px;
        height: 192.75px;
    }
}
/* Safari 5.1-6.0, Chrome 10-24 */
_::-moz-svg-foreign-content, :root .thumbnail {
    width: 400px;
}
_::-moz-svg-foreign-content, :root .grid-list__item:nth-child(1) {
    float: left;
}
_::-moz-svg-foreign-content, :root .grid-list__item:nth-child(4) {
    float: left;
}
_::-moz-svg-foreign-content, :root .grid-list__item {
    margin-bottom: 20px;
}
_::-moz-svg-foreign-content, :root .bg_video {
    display: none;
}